*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*fonts*/
@font-face{
    font-family: Yekanmedium;
    src:url(../../fonts/IRANYekanWeb-Medium.eot) ;
    src: url(../../fonts/IRANYekanWeb-Medium.ttf);
    src: url(../../fonts/IRANYekanWeb-Medium.woff);
    src: url(../../fonts/IRANYekanWeb-Medium.woff2);
}
@font-face {
    font-family: Yekanregular;
    src: url(../../fonts/IRANYekanWeb.eot);
    src: url(../../fonts/IRANYekanWeb.ttf);
    src: url(../../fonts/IRANYekanWeb.woff);
    src: url(../../fonts/IRANYekanWeb.woff2);
}
@font-face{
    font-family: Yekanbold;
    src: url(../../fonts/IRANYekanWeb-Bold.eot);
    src: url(../../fonts/IRANYekanWeb-Bold.ttf);
    src: url(../../fonts/IRANYekanWeb-Bold.woff);
    src: url(../../fonts/IRANYekanWeb-Bold.woff2);
}
@font-face{
    font-family: Yekanextrabold;
    src: url(../../fonts/IRANYekanWeb-ExtraBold.eot);
    src: url(../../fonts/IRANYekanWeb-ExtraBold.ttf);
    src: url(../../fonts/IRANYekanWeb-ExtraBold.woff);
    src: url(../../fonts/IRANYekanWeb-ExtraBold.woff2);
}
:root{
    --color1:rgb(63, 64, 100);
    --color2:rgb(224, 224, 226)  ;
    --borderradius1:8px;
    --border1:1px solid rgb(224, 224, 226);
}

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-next, .swiper-button-prev{
    width: 38px !important;
    height: 38px !important;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 1px solid rgb(224, 224, 226);

  }

  .swiper-button-next::after, .swiper-button-prev::after{
    font-size: 15px!important;
    color:rgb(66, 71, 80) ;
    font-weight: 700;
    font-family: Yekanregular;

  }