.slider-5{
    width: 70%;
    height:264px ;
 margin: 0 auto;
 display: flex;
gap: 15px;
margin-top: 20px;
  
  
    
}
.slider-5 img {
    width: 50%;
    height:inherit ;
   object-fit: cover;
 border-radius: 16px;
}