.table-1{
    width:70%;
    height:416px ;
    margin: 20px auto;
    
    border-radius: 16px;
    border: 1px solid rgb(224, 224, 226);
    display: flex;
   
   
 
}
.section1-child1-table-1{
    width: 25%;
    height:inherit ;
  

   
    border-left: var(--border1);
}


.heading{
    width:292px ;
    height:65px ;
    margin-bottom: 8px;
    padding: 8px;
   
   
}
.heading h1{
    width: 292px;
    height: 34px;
    font-size:16px ;
    font-family: Yekanbold;
    font-weight: 700;
    
   
}
.heading h2{
    width: 292px;
    height: 23px;

    
    font-size: 11px;
    font-family: Yekanregular;
    font-weight:400 ;
    color: rgb(129, 133, 139);
    
    
  
}

.justimages{
    width:130px ;
    height:130px ;
    object-fit: cover;
    border-left: 1px solid rgb(224, 224, 226);
    border-bottom:1px solid rgb(224, 224, 226) ;
    padding: 8px;
  
   
}
.table-1-svg{
    width: 18px;
    height: 18px;
}

.section1-child1-table-1 a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 20px;
    color: rgb(25, 191, 211);
    font-size: 12px;
    font-weight: 700;
    font-family: Yekanmedium;
}



