
.header-top{
    width: 87%;
    height: 70px;
    padding: 12px 16px;
    margin: 0 auto;
    display: flex;
    
}
.header-top-right-logo{
    width: 196px;
    height:45px ;
    margin-left: 20px;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
.image1-rightlogo{
    width: 45px;
    height: 45px;
    object-fit: cover;
}
.image2-rightlogo{
    width: 151px;
    height:40px ;
}
.header-middle{
    width: 90%;
    height:40px ;
   
}
.header-middle input{
    width: inherit;
    height: inherit;
    padding: 0 16px;
    background-color: rgb(240, 240, 241);
    border-radius: 8px;
    border: var(--border1);
    outline: none;
    
}
input::placeholder{
    font-size:12px ;
    font-family: Yekanregular;
    font-weight: 400;
}
.header-top-left{
    width: 367px;
    height: 46px;
    
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    padding: 8px 16px;
    border: var(--border1);
    border-radius: 8px;
    width: 130px;
    height: 40px;
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.login img{
    width: 24px;
    height: 24px;
}
.login p{
   
    font-family: Yekanbold;
    font-size: 12px;
   font-weight: 700;
  
}
.goto-digikala{
    width: 160px;
    height:46px ;
    background-color: rgb(255,243,246);
    margin-right: 8px;
    padding: 8px 16px;
    border: 1px solid rgb(255, 243, 246);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.goto-digikala p{
    color: rgb(239, 64, 86);
    text-align: center;
    font-family: Yekanregular;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.goto-digikala p svg{
    color: rgb(239, 64, 86);
}
.header-bottom{
    width: 87%;
    height: 40px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.right-header-bottom{
    width: 340px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child1-header-botoom{
    width: 140px;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child2-header-botoom{
    width:113px ;
    height:39px ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.child3-header-bottom{
    width: 86px;
    height: 39px;
   
    
   
}
.svg-header-bottom{
    width: 20px;
    height: 20px;
    margin-left: 4px;
}
.right-header-bottom a{
    text-decoration: none;
    font-family: Yekanregular;
    font-size:12px ;
    font-weight:400 ;
    color: rgb(98, 102, 109);
    
}
.left-header-bottom{
    width: 165px;
    height: 35px;
    padding-bottom: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-header-bottom p{
    color:rgb(98, 102, 109) ;
    font-family: Yekanregular;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
